#profile img {
  max-width: 100px;
  border-radius: 50%;
  border: 3px solid #eee;
}

#profile-birth {
  font-size: 1.3rem;
}

#social-links {
  font-size: 3rem;
}

#profile-description {
/*  font-size: 1.2rem;
  margin-bottom: 5px;
  white-space: pre;*/
}

#profile-urls {
  list-style: none;
  padding-left: 0;
}

#profile-urls a {
  font-size: 1.3rem;
}

#tag-cloud a {
  font-size: 1.3rem;
  margin: 3px 0;
  display: inline-block;
}
#post .eyecatch {
  display: none;
}
.title {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 10px 0;
  margin-bottom: 30px;
}

.title .title-summary {
  margin-left: 25px;
  font-size: 16px;
}

/* 一覧表示 */
#posts > .description {
  margin-bottom: 40px;
}

#posts .post.is-list {
  display: table;
  cursor: pointer;
  min-height: 120px;
  border-bottom: 1px solid #333;
}

#posts .post.is-list > .list-img {
  width: 70px;
  display: table-cell;
}

#posts .post.is-list > .list-contents {
  display: table-cell;
  width: 100%;
  padding-left: 40px;
  padding-top: 10px;
  vertical-align: top;
}

#posts .post.is-list > .list-contents > h2.title {
  font-size: 2rem;
  margin-bottom: 0;
}

#posts .post.is-list > .list-contents > .summary {
  max-height: 50px;
}

#posts .post.is-list > .list-img > img {
  max-height: 70px;
  margin-bottom: 10px;
}

#posts .post.is-list > .list-img > span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
}

#posts .post.is-list > .list-img > .list-date {
  font-size: 1.2rem;
}

/* clearfix */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* blog */
.blog-contents .blog-image {
  float: left;
  width: 180px;
}

.blog-contents .blog-text {
  overflow: hidden;
  padding: 0 40px;
}

.post-title .font-smal {
  font-size: 12px;
  font-style: normal;
}

/* icons */
.icn {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 5px;
}
.icn.is-pray {
  background: url(/images/pray.png) no-repeat;
  background-size: 22px;
}

/* util */
.util-block {
  display: block !important;
}

table {
  margin: 30px 0;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

table tr td, table tr th {
  padding: 7px 10px;
  border-top: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
}

table tbody tr:nth-child(odd) {
  background: #f8f8f8;
}
