<header id="js-site-header" class="site-header">
  <div class="inner clearfix">
    <h1>
      <a href="{{ .Site.BaseURL }}" class="font-logo">{{ .Site.Title }}</a>
      <span>WEBのフロントエンド、ゲーム、漫画、小説などを書いていきます。</span>
    </h1>
    <ul>
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="{{ .Site.BaseURL }}engineer/">Engineer</a></li>
      <li><a href="{{ .Site.BaseURL }}mangakindle/">Manga・Kindle</a></li>
      <li><a href="{{ .Site.BaseURL }}novel/">Novel</a></li>
    </ul>
  </div>
</header>